body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #cb0d0d;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  background-color: #cb0d0d;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

nav a:hover {
  background-color: #ca2522;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Button Styling */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cb0d0d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button:hover {
  background-color: #ca2522;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  nav a {
    margin: 5px;
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .button {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    margin: 5px 0;
    padding: 10px;
    font-size: 1rem;
  }

  .button {
    width: 100%;
    padding: 10px;
  }

  header h1 {
    font-size: 1.2rem;
  }

  .container {
    padding: 5px;
  }
}
