body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.vaccine-category {
    margin-bottom: 20px;
}

.vaccine-category h2 {
    font-size: 20px;
}

.vaccine-list {
    list-style-type: none;
    padding: 0;
}

.vaccine-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.vaccine-item h3 {
    font-size: 18px;
}

.vaccine-item p {
    font-size: 16px;
}
